@{
    ViewData["Title"] = "İletişim";
}

<section class="hero-wrap hero-wrap-2" style="background-image: url('/web/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="/">Anasayfa <i class="fa fa-chevron-right"></i></a></span> <span>İletişim <i class="fa fa-chevron-right"></i></span></p>
                <h1 class="mb-3 bread">İletişime Geçin</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section contact-section">
    <div class="container">
        <div class="row block-9 justify-content-center mb-5">
            <div class="col-md-8 mb-md-5">
                <form action="#" class="bg-light p-5 contact-form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Adınız">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email Adresiniz">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Konu">
                    </div>
                    <div class="form-group">
                        <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Mesaj"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Gönder" class="btn btn-primary py-3 px-5">
                    </div>
                </form>
            </div>
        </div>
        <div class="row d-flex mb-5 contact-info justify-content-center">
            <div class="col-md-8">
                <div class="row mb-5">
                    <div class="col-md-4 text-center py-4">
                        <div class="icon">
                            <span class="fa fa-map"></span>
                        </div>
                        <p><span>Address:</span>İstanbul, Türkiye</p>
                    </div>
                    <div class="col-md-4 text-center border-height py-4">
                        <div class="icon">
                            <span class="fa fa-phone"></span>
                        </div>
                        <p><span>Phone:</span> <a href="tel://1234567920">+90 532 000 00 00</a></p>
                    </div>
                    <div class="col-md-4 text-center py-4">
                        <div class="icon">
                            <span class="fa fa-paper-plane"></span>
                        </div>
                        <p><span>Email:</span> <a href="mailto:info@yoursite.com">info@mutekavvim.com</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div id="map" class="bg-white"></div>
            </div>
        </div>
    </div>
</section>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
