@{
    ViewData["Title"] = "Enerji";
}

<section class="hero-wrap hero-wrap-2" style="background-image: url('/web/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="/">Anasayfa <i class="fa fa-chevron-right"></i></a></span>  <span>Enerji </span></p>
                <h1 class="mb-3 bread">Enerji</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ftco-animate">
                <h2 class="mb-3">Enerji Servisimiz</h2>
                <p>Elektrik Ve Enerji alanlarında faaliyet gösteren, amacı iş ve hizmet üreterek ekonomide katma değer oluşturmak olan firmamızın temel faaliyet alanları elektrik, enerji ve mekanik her türlü sistemin projelendirilmesi ve saha çalışmalarının yürütülmesidir. Mühendislik faaliyetlerini paydaş firmalarımızla ile birlikte deneyimli mühendis ve tekniker kadrosuyla yürütmektedir. her türlü gereksinimini karşılayabilmek için personel istihdam politikasını yüksek eğitim ve deneyim öncelikli oluşturmuştur. Bu kapsamda paydaşlarımız bünyesinde alanında uzman Elektrik Mühendisleri, Bilgisayar Mühendisleri, Çevre Mühendisleri, Makine Mühendisleri, Mimar ve İç Mimarlar, Tekniker ve Teknisyenler bulunmaktadır. </p>
                <ol>
                    <li>Enerji</li>
                    <li>Elektronik Onarım</li>
                    <li>Elektrik Hizmetleri</li>
                    <li>İnşaat ve Mimari Restorasyon</li>
                    <li>Elektromekanik Proje ve Taahhüt</li>
                    <li>Elektromekanik Bakım ve Teknik Servis</li>
                </ol>

            </div> <!-- .col-md-8 -->
            <div class="col-md-4 sidebar ftco-animate">
                <div class="sidebar-box ftco-animate">
                    <div class="categories">
                        <h3>Diğer Servislerimiz</h3>
                        <li><a href="/Home/Insaat">İnşaat</a></li>
                        <li><a href="/Home/Gida">Gıda</a></li>
                        <li><a href="/Home/Matbaa">Matbaa-Yayıncılık</a></li>
                        <li><a href="/Home/Promosyon">Promosyon-Kırtasiye</a></li>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section> <!-- .section -->