@{
    ViewData["Title"] = "Gıda";
}

<section class="hero-wrap hero-wrap-2" style="background-image: url('/web/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="/">Anasayfa <i class="fa fa-chevron-right"></i></a></span>  <span>Gıda </span></p>
                <h1 class="mb-3 bread">Gıda</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ftco-animate">
                <h2 class="mb-3">Gıda Servisimiz</h2>
                <p>Gün geçtikçe birçok alanda faliyet gösterip büyümeye devam eden mütekavvim limitet şirketi şuan da anlaşmalı olduğu bir çok gıda üretim tesislerinin ürünlerinin üretim, pazarlama ve yönetim sürecini fiilen sürdürmektedir.</p>
                <p>Türkiyenin her bölgesinden, ilinden kendine özgü/has ürünleri 4 bucak gezip yöresel kendine has ürünlere sahip olan güzel yurdumuzun 4 bir yanında geleneksel yöntemlere uygun olarak, ev yapımı tadında üretilen ürünlerin yurt içi ve yurt dışında inovatif ilişkileri güçlü dinamik bir ekip ile satış ve pazarlama organizasyonu yapmaktadır.</p>

            </div> <!-- .col-md-8 -->
            <div class="col-md-4 sidebar ftco-animate">
                <div class="sidebar-box ftco-animate">
                    <div class="categories">
                        <h3>Diğer Servislerimiz</h3>
                        <li><a href="/Home/Insaat">İnşaat</a></li>
                        <li><a href="/Home/Matbaa">Matbaa-Yayıncılık</a></li>
                        <li><a href="/Home/Promosyon">Promosyon-Kırtasiye</a></li>
                        <li><a href="/Home/Enerji">Enerji</a></li>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section> <!-- .section -->