@{
    ViewData["Title"] = "İnşaat";
}

<section class="hero-wrap hero-wrap-2" style="background-image: url('/web/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="/">Anasayfa <i class="fa fa-chevron-right"></i></a></span>  <span>İnşaat </span></p>
                <h1 class="mb-3 bread">İnşaat</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ftco-animate">
                <h2 class="mb-3">İnşaat Servisimiz</h2>
                <p>Köklerimizi asla unutmadan içinde yaşadığımız topluma, çevreye ve gelecek kuşaklara daha iyi bir yarın inşaa edebilmek için değişen dünyaya ve beklentilere en uygun hizmeti sunmak adına en büyük sermayemiz ve kaynağımız olan İnsana değer veren bir bilinç ile dürüstlük ve kaliteli insan gücünü bünyemize kazandırmak ve projelerimizde çalışanlarımızın verimliliklerini arttırmak gelişmelerine imkan tanımak ve güçlü bir iş birliğinin hakim olduğu bir çalışma ortamı sunmak ve her zaman mükemmelliğe giden yolun titizlikle, deneyimde  ve inovasyonla harmanlandığı şirket yapımızda güçlü bir organizasyon verimli bir ekip çalışması ile güven odaklı olarak ilerleyen süreçte Türkiyemizin önde gelen kuruluşlarından biri olacağımız inancımıza ve  inandığımız değerlere sahip çıkmaya devam edeceğiz.</p>

            </div> <!-- .col-md-8 -->
            <div class="col-md-4 sidebar ftco-animate">
                <div class="sidebar-box ftco-animate">
                    <div class="categories">
                        <h3>Diğer Servislerimiz</h3>
                        <li><a href="/Home/Gida">Gıda</a></li>
                        <li><a href="/Home/Matbaa">Matbaa-Yayıncılık</a></li>
                        <li><a href="/Home/Promosyon">Promosyon-Kırtasiye</a></li>
                        <li><a href="/Home/Enerji">Enerji</a></li>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section> <!-- .section -->