@model List<Dictionary<string, object>>
@{
    ViewData["Title"] = "Ekibimiz";
}

<section class="hero-wrap hero-wrap-2" style="background-image: url('/web/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="/">Anasayfa <i class="fa fa-chevron-right"></i></a></span> <span>Ekibimiz <i class="fa fa-chevron-right"></i></span></p>
                <h1 class="mb-3 bread">Ekibimiz</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-6 col-md-6 col-lg-3 ftco-animate">
                    <div class="staff">
                        <div class="img-wrap d-flex align-items-stretch justify-content-end">
                            <div class="img align-self-stretch" style="background-image: url(/web/images/team-1.jpg);"></div>
                        </div>
                        <div class="text d-flex align-items-center pt-3">
                            <div>
                                <h3 class="mb-2">@item["AdSoyad"]</h3>
                                <br />
                                <span class="position mb-4">@item["Unvan"]</span>
                            </div>
                        </div>
                    </div>
                </div> 
            }
        </div>
    </div>
</section>
